////////////////////////////////////// NAVBAR
.nav {
  display: flex;
  justify-content: space-between;
  &__left {
    max-width: 100%;
    margin-top: 7.6rem;
  }
  &__right {
    width: 705px;
    height: 178px;
    background: #f94f4f;
    ul {
      padding: 0 6.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-top: 5.6rem;
    }
    a {
      text-decoration: none;
      margin-right: 3.2rem;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: var(--primary-white);

      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

///////////////////////////////////// HEADER
.header {
  display: flex;
  &__text-box {
    margin-top: 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16rem;
    width: 730px;
    margin-right: -11rem;
    z-index: 1;
    h1 {
      font-weight: 800;
      font-size: 80px;
      line-height: 88px;
      color: #000000;
      // width: 730px;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: #000000;
      margin-top: 3.9rem;
      margin-bottom: 4.8rem;
      // width: 540px;
    }
    a {
      text-decoration: none;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      background-color: #f94f4f;
      padding: 2.5rem 4rem;
      &:hover {
        background: #ff9393;
      }
    }
  }
  &__img-box {
    z-index: 0;
    img {
      // max-width: 100%;
      width: 895px;
      height: 800px;
    }
  }
}

//////////////////////////////////// DESIGN PART
.design {
  display: flex;
  &__left {
    img {
      max-width: 100%;
    }
  }
  &__right {
    display: flex;
    flex: 1;
    background: #191921;
    width: 705px;
    height: 784px;
    padding: 20rem 0;

    &--box {
      display: flex;
      width: 666px;
      margin-left: -7rem;
    }
    &--img {
      max-width: 100%;
      margin-right: 8.6rem;
    }
    &--text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      h3 {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        color: #ffffff;
      }
      span {
        color: #f94f4f;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        margin-top: 4.3rem;
        margin-bottom: 4.8rem;
      }
      a {
        text-decoration: none;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #f94f4f;
        border-bottom: 2px solid #f94f4f;
        &:hover {
          color: #ff9393;
          border-bottom: 2px solid #ff9393;
        }
      }
    }
  }
}

//////////////////////////////////// BRAND PART
.brand {
  display: flex;
  &__left {
    margin-top: 20rem;
    margin-left: 16.3rem;
    h3 {
      width: 540px;
      font-weight: 800;
      font-size: 56px;
      line-height: 64px;
      color: #000000;
    }
  }
  &__right {
    width: 895px;
    margin-top: -20.4rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f94f4f;
    overflow: hidden;

    &-box {
      padding: 8rem 18rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5.6rem;
    }
    &-number {
      font-weight: 800;
      font-size: 80px;
      line-height: 88px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin-right: -3rem;
      margin-top: -15rem;
    }
    &-text {
      width: 445px;
      h5 {
        font-weight: 800;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 2.4rem;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
      }
    }
  }
}
